<div>
  <app-admin-menu></app-admin-menu>
</div>
<br><br>
<div class="container mt-5">
  <button  class="btn btn-primary " mat-mini-fab color="primary" (click)="open(content)">
    <mat-icon>add</mat-icon>
  </button>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Categorie</th>
          <th>Cout</th>
          <th>Heures</th>
          <th>Objectifs</th>
          <th>Programme detaille</th>
          <th>Titre</th>
          <th>Individus inscrite</th>
          <th style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formation of formations">
          <td>{{ formation.id }}</td>
          <td>{{ formation.categorie }}</td>
          <td>{{ formation.cout }}</td>
          <td>{{ formation.nombreHeures }}</td>
          <td>{{ formation.objectifs }}</td>
          <td>{{ formation.programmeDetaille }}</td>
          <td>{{ formation.titre }}</td>
          <td style="text-align: center;">{{ formation.individuCount }}</td>
          <td>
            <button class="btn btn-danger" mat-mini-fab  color="warn" (click)="deleteFormation(formation.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="btn btn-primary" mat-mini-fab  color="primary" (click)="selectFormationForEdit(formation); open(editContent)">
              <mat-icon>edit</mat-icon> 
            </button>
            <button class="btn btn-success btn-sm" mat-mini-fab color="basic" (click)="selectFormationForEdit(formation);open(ScheduleContent)">
              <mat-icon>event</mat-icon>
            </button>
            <button class="btn btn-info btn-sm" mat-mini-fab color="basic" (click)="selectFormationForEdit(formation);openXl(IndividuContent)">
              <mat-icon>person</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<ng-template #content let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="addFormationModalLabel">ajouter une formation</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
      </div>
      <div class="modal-body">
        <form #addFormationForm="ngForm" (ngSubmit)="addFormation(addFormationForm)">

          <div class="form-group">
            <label for="categorie">Categorie :</label>
            <input type="text" class="form-control" id="categorie" name="categorie" [(ngModel)]="newFormation.categorie" required>
          </div>
          <div class="form-group">
            <label for="titre">Titre :</label>
            <input type="text" class="form-control" id="titre" name="titre" [(ngModel)]="newFormation.titre" required>
          </div>
          <div class="form-group">
            <label for="nombreHeures">Nombre d'heures :</label>
            <input type="number" class="form-control" id="nombreHeures" name="nombreHeures" [(ngModel)]="newFormation.nombreHeures" required>
          </div>
          <div class="form-group">
            <label for="cout">Cout :</label>
            <input type="number" class="form-control" id="cout" name="cout" [(ngModel)]="newFormation.cout" required>
          </div>
          <div class="form-group">
            <label for="objectifs">Objectifs :</label>
            <textarea class="form-control" id="objectifs" name="objectifs" [(ngModel)]="newFormation.objectifs" required></textarea>
          </div>
          <div class="form-group">
            <label for="programmeDetaille">Programme Detaille :</label>
            <textarea class="form-control" id="programmeDetaille" name="programmeDetaille" [(ngModel)]="newFormation.programmeDetaille" required></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')">ajouter</button>
        </form>
      </div>
    </div>
</ng-template>


<ng-template #editContent let-modal>
  <div class="modal-content">
      <div class="modal-header">
          <h2 class="modal-title" id="editFormationModalLabel">Modifier Formation</h2>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
          <form #editFormationForm="ngForm" (ngSubmit)="editFormation(editFormationForm)">
              <input type="hidden" id="editFormationId" name="id" [(ngModel)]="selectedFormation.id">
              <div class="form-group">
                  <label for="editCategorie">Categorie :</label>
                  <input type="text" class="form-control" id="editCategorie" name="categorie" [(ngModel)]="selectedFormation.categorie" required>
              </div>
              <div class="form-group">
                  <label for="editTitre">Titre :</label>
                  <input type="text" class="form-control" id="editTitre" name="titre" [(ngModel)]="selectedFormation.titre" required>
              </div>
              <div class="form-group">
                  <label for="editNombreHeures">Nombre d'heures :</label>
                  <input type="number" class="form-control" id="editNombreHeures" name="nombreHeures" [(ngModel)]="selectedFormation.nombreHeures" required>
              </div>
              <div class="form-group">
                  <label for="editCout">Cout :</label>
                  <input type="number" class="form-control" id="editCout" name="cout" [(ngModel)]="selectedFormation.cout" required>
              </div>
              <div class="form-group">
                  <label for="editObjectifs">Objectifs :</label>
                  <textarea class="form-control" id="editObjectifs" name="objectifs" [(ngModel)]="selectedFormation.objectifs" required></textarea>
              </div>
              <div class="form-group">
                  <label for="editProgrammeDetaille">Programme Detaille :</label>
                  <textarea class="form-control" id="editProgrammeDetaille" name="programmeDetaille" [(ngModel)]="selectedFormation.programmeDetaille" required></textarea>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Sauvegarder</button>
          </form>
      </div>
  </div>
</ng-template>



<ng-template #ScheduleContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="editFormationModalLabel">Planifier une formation pour une entreprises</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form #ScheduleForm="ngForm" (ngSubmit)="SchedulFormation(ScheduleForm)">
          <input type="hidden" id="editFormationId" name="id" [(ngModel)]="selectedFormation.id">
          <div class="form-group">
            <label for="formateur">Formateur :&nbsp;</label>
            <mat-form-field appearance="fill">
              <mat-label>Formateur</mat-label>
              <mat-select [(value)]="selectedformateur">
                <mat-option *ngFor="let formateur of formateurs" [value]="formateur.id" >{{formateur.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="entreprises">entreprise :&nbsp;</label>
            <mat-form-field appearance="fill">
              <mat-label>entreprise</mat-label>
              <mat-select [(value)]="selectedentreprise">
                <mat-option *ngFor="let entreprise of entreprises" [value]="entreprise.id"  >{{entreprise.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="ville">Ville :</label>
            <input type="text" class="form-control" id="ville" name="ville" [(ngModel)]="ville" required>
        </div>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choisissez une date" (dateChange)="addEvent($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <div *ngIf="selectedDates.length > 0">
          <h4>Dates sélectionnées :</h4>
          <ul>
            <li *ngFor="let date of selectedDates">
              {{ date | date }}
              <button mat-button color="warn" (click)="removeDate(date)">supprime</button>
            </li>
          </ul>
        </div>

          <button type="submit" class="btn btn-primary">Save</button>
      </form>
  </div>

  </div>
</ng-template>

<ng-template #IndividuContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="editFormationModalLabel">Liste des individus</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" >
      <div class="modal-body">
        <button  class="btn btn-primary " mat-mini-fab color="primary" (click)="open(addIndividuContent)">
          <mat-icon>add</mat-icon>
        </button>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Nom</th>
              <th>date de naissance</th>
              <th>Ville</th>
              <th>Telephone</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let individu of selectedFormation.individus">
              <input type="checkbox" (change)="toggleSelection(individu)" [checked]="isSelected(individu)">
              <td>{{ individu.id }}</td>
              <td>{{ individu.nom }} {{individu.prenom}}</td>
              <td>{{individu.dateNaissance}}</td>
              <td>{{ individu.ville }}</td>
              <td>{{ individu.telephone }}</td>
              <td>{{ individu.email }}</td>
              <td>
                <button class="btn btn-danger" mat-mini-fab  color="warn" (click)="deleteIndividual(individu.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                
                <button class="btn btn-primary" mat-mini-fab  color="primary" (click)="selectIndividual(individu);open(EditIndividuContent)">
                  <mat-icon>edit</mat-icon> 
                </button>
              </td>
            </tr>
          </tbody>
        </table>
       
        <button class="btn btn-success" (click)="open(ScheduleIndividuContent)">planifie formation pour individus</button>
      </div>
      
  </div>
  </div>
</ng-template>


<ng-template #ScheduleIndividuContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="ScheduleIndividuLabel">planifie formation pour individus</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <form #ScheduleForm="ngForm" (ngSubmit)="SchedulFormationInd(ScheduleForm)">
 
          <input type="hidden" id="editFormationId" name="id" [(ngModel)]="selectedFormation.id">

          <div class="form-group">
            <label for="formateur">Formateur :&nbsp;</label>
            <mat-form-field appearance="fill">
              <mat-label>Formateur</mat-label>
              <mat-select [(value)]="selectedformateur">
                <mat-option *ngFor="let formateur of formateurs" [value]="formateur.id" >{{formateur.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="ville">Ville :</label>
            <input type="text" class="form-control" id="ville" name="ville" [(ngModel)]="ville" required>
        </div>
        <br>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="addEvent($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <div *ngIf="selectedDates.length > 0">
          <h4>Dates sélectionnées :</h4>
          <ul>
            <li *ngFor="let date of selectedDates">
              {{ date | date }}
              <button mat-button color="warn" (click)="removeDate(date)">supprime</button>
            </li>
          </ul>
        </div>

          <button type="submit" class="btn btn-primary">Save</button>
      </form>
  </div>

  </div>
</ng-template>



<ng-template #addIndividuContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="addIndividuContent">Ajouter de nouvelles personnes a cette formation</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" >
      <form #addIndividu="ngForm" (ngSubmit)="addInd(addIndividu)">

        <input type="hidden" id="editFormationId" name="id" [(ngModel)]="selectedFormation.id">

        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="newIndividu.nom" required>
        </div>
        <div class="form-group">
            <label for="prenom">prenom :</label>
            <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="newIndividu.prenom" required>
        </div>
        <div class="form-group">
            <label for="dateNaissance">Date de naissance :</label>
            <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" [(ngModel)]="newIndividu.dateNaissance" required>
        </div>
        <div class="form-group">
            <label for="ville">ville :</label>
            <input type="text" class="form-control" id="ville" name="cout" [(ngModel)]="newIndividu.ville" required>
        </div>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="newIndividu.email" required>
        </div>
         <div class="form-group">
          <label for="telephone">Telephone :</label>
          <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="newIndividu.telephone" required>
         </div>
         <br>
        <button type="submit" class="btn btn-primary">ajouter</button>
    </form>
    </div>
</div>
</ng-template>

<ng-template #EditIndividuContent let-modal>
  <div class="modal-content">
    <div class="modal-header">
        <h2 class="modal-title" id="addIndividuContent">Modifier formation</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" >
      <form #addIndividu="ngForm" (ngSubmit)="editInd(addIndividu)">

        <input type="hidden" id="editFormationId" name="id" [(ngModel)]="selectedFormation.id">
        <input type="hidden" id="id" name="id" [(ngModel)]="selectedIndividual.id">

        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="selectedIndividual.nom" required>
        </div>
        <div class="form-group">
            <label for="prenom">Prenom :</label>
            <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="selectedIndividual.prenom" required>
        </div>
        <div class="form-group">
            <label for="dateNaissance">Date de naissance :</label>
            <input type="date" class="form-control" id="dateNaissance" name="dateNaissance" [(ngModel)]="selectedIndividual.dateNaissance" required>
        </div>
        <div class="form-group">
            <label for="ville">ville :</label>
            <input type="text" class="form-control" id="ville" name="cout" [(ngModel)]="selectedIndividual.ville" required>
        </div>
        <div class="form-group">
            <label for="email">email :</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="selectedIndividual.email" required>
        </div>
         <div class="form-group">
          <label for="telephone">telephone :</label>
          <input type="text" class="form-control" id="telephone" name="telephone" [(ngModel)]="selectedIndividual.telephone" required>
         </div>
        <br>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </form>
    </div>
</div>
</ng-template>













  
